.contact-info {
 h4 {
  font-family: "Oswald";
  padding-bottom: 10px;
 }

 p {
  padding-bottom: -5px;
 }
}

.map-contato {
  margin-left: 20px;
  max-width: 100vh;
}

.map-container {
  h4 {
   font-family: "Oswald";
   padding-bottom: 10px;
  }
}
