.contact-info {
 h4 {
  font-family: "Oswald";
  padding-bottom: 10px;
 }

.parent-col {

}

 p {
  padding-bottom: -5px;
 }
}

.map-contato {
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

.col-form {
  width: 100%;
}

.map-container {
  h4 {
   font-family: "Oswald";
   padding-bottom: 10px;
  }
}

.col-contato {
  border-right: solid;
  border-width: 1px;
  border-color: black;
}
