// Specific CSS for your home-page

// BANNER ONE

.banner-one {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(197, 0, 88, 0.1);
  color: $pink;
  .header-one {
    display: flex;
    justify-content: center;
  }
  h1 {
    font-family: $body-font;
    font-size: 43px;
    line-height: 1.5;
    border-left: 4px solid $pink;
    padding-left: 70px;
    margin-left: 20px;
    text-align: justify;
  }
}

@media (max-width: 560px) {
  .banner-one h1 {
    font-size: 16px;
    padding-left: 40px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

// BANNER TWO

.banner-two {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  p {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
  }
}

.video {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  iframe {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.09);
  }
}

@media (max-width: 700px) {
  .banner-two {
    padding-left: 30px;
    padding-right: 30px;
  }
  .video iframe {
    border: 0;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
}

@media (min-width: 700px) {
  .video iframe {
    border: 0;
    height: 371px;
    left: 0;
    top: 0;
    width: 50%;
  }
}
