.msg-lab {
  text-align: justify;

  h2 {
    margin: 25px 0;
  }

  h5, p, ul {
    margin: 25px 0;
    line-height: 1.8;
  }

  li {
    margin: 15px 0;
    line-height: 1.8;
  }

  hr {
    margin: 40px 0;
  }

  .investidores img {
    width: 100%;
  }

  .btn {
    background-color: $pink;
    color: white;
    font-weight: bold;
  }
}