<nav class="navbar navbar-expand-lg navbar-light shadow-sm p-3 pr-4">
  <%= link_to root_path, data: { turbolinks: false }, class: "navbar-icon" do %>
    <%= image_tag("logo.png") %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse ml-3" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a href="/" class="nav-link mr-5">HOME</a>
      </li>
      <li class="nav-item">
        <a href="/sobre" class="nav-link mr-5">SOBRE</a>
      </li>
      <li class="nav-item">	
        <a href="www.msgloja.com" class="nav-link mr-5">LOJA</a>	
      </li>
      <li class="nav-item">
        <a href="/msg-lab" class="nav-link mr-5">MSG LAB</a>
      </li>
      <li class="nav-item">
        <a href="/contato" class="nav-link mr-5">CONTATO</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%# <a href="/" class="nav-link btn" id="donate">APOIE O PROJETO</a> %>
        <a href="/turmas" class="nav-link btn" id="donate">NOSSAS TURMAS</a>
      </li>
    </ul>
  </div>
</nav>
