<div class="banner-about">
  <%= image_tag("msglab.png", class: "banner-sobre") %>
</div>

<div class="container msg-lab">
  <div class="col-sm-12 col-md-12 six-column">
    <div class="investidores">
      <h2>Investidores</h2>

     <%= image_tag("investidores.png")%>
    </div>

    <hr>

    <div>
      <h2>Sobre o MSG Lab</h2>
      <h5 class="text-primary">Programa de 3 semanas, com até 140 horas de iniciação à costura industrial e desenvolvimento profissional.</h5>
    </div>

    <div>
      <p>
        <b>
          O MSG Lab é um laboratório de aprendizagem e profissionalização para o segmento têxtil, 
          dedicado a ampliar a integração econômica das mulheres migrantes a partir de um olhar para as questões de gênero e o Sul Global.
        </b>
      </p>

      <p>
        Nosso programa é desenhado para que mulheres dominem as habilidades essenciais para trabalhar como Costureira Industrial. 
        Com aulas práticas, a fim de contribuir para integração econômica sustentável, as alunas aprendem fazendo, e desenvolvem as 
        competências iniciais necessárias para se tornarem micro-empreendedoras ou profissionais na área têxtil.
      </p>
    </div>

    <div>
      <p><b>Nosso currículo tem dois componentes complementares:</b></p>

      <ul>
        <li>Instrução a função de costureira auxiliar industrial e outras áreas dentro da linha de produção têxtil como acabamento, arremate e passadoria;</li>
        <li>Workshops de desenvolvimento profissional e preparação para a carreira para garantir o sucesso de longo prazo, independência e adaptação ao mercado de trabalho brasileiro.</li>
      </ul>
    </div>

    <div>
      <p><b>Em 3 semanas, nós cobrimos:</b></p>

      <ul>
        <li>Formar operadoras de maquinário  industrial, contribuindo assim  para uma formação direcionada dentro do universo têxtil;</li>
        <li>Desenvolvimento de 6  projetos  que  envolvem diferentes modelos com distintas técnicas de acabamentos;</li>
        <li>Treinamento sobre mercado de trabalho brasileiro, avaliação das competências socioemocionais, elaboração de currículo e plano de carreira;</li>
        <li>Introdução às oportunidades profissionais no microempreendedorismo e na indústria criativa brasileira;</li>
        <li>Treinamento em oratória, networking e branding pessoal.</li>
      </ul>
    </div>

    <hr>

    <div>
      <p><b>Números de Impacto</b></p>

      <ul>
        <li>8 Programas MSG Lab foram lançados de 2017 - 2020;</li>
        <li>110 participantes do MSG Lab;</li>
        <li>20 das participantes integram o núcleo duro da fábrica Mulheres do Sul Global após o programa.</li>
      </ul>

      <i>REF: <a href="https://makersunite.eu/creative-lab/" target="_blank">https://makersunite.eu/creative-lab/</a></i>

      <ul>
        <li>8  Programas MSG Lab Oportunidades programados para 2021;</li>
        <li>160 participantes;</li>
        <li>40 participantes a serem conectadas  para oportunidade profissional após o programa.</li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="col-sm-12 col-md-12 six-column">
    <div>
      <h2 class="mt-5">Metodologia</h2>
    </div>

    <div>
      <p>
        Depois de executar 8 programas bem-sucedidos, desenvolvemos a formação baseada no modelo de <b>aprendizagem experiencial</b> <i>learning by doing/aprender fazendo</i>, 
        que combina teoria e prática, com base nesses 3 pilares.
      </p>

      <ul>
        <li>Qualificação Técnica em Costura Industrial;</li>
        <li>Desenvolvimento Sócio Emocional;</li>
        <li>Desenvolvimento Profissional.</li>
      </ul>
    </div>

    <hr>

    <div>
      <p><a href="#como-funciona">1. Como funciona</a></p>
      <p><a href="#curriculo-do-programa">2. Currículo do programa</a></p>
      <p><a href="#quem-deve-aplicar">3. Quem deve aplicar</a></p>
      <p><a href="#duracao-e-investimento">4. Duração e investimento</a></p>
      <p><a href="#inscreva-se">5. Inscreva-se</a></p>
    </div>

    <hr>

    <div id="como-funciona">
      <h2>1. Como funciona</h2>

      <p>
        O Lab Aprendizagem é realizado na nossa fábrica, que conta com infraestrutura industrial para atender ao perfil de produção em escala. 
        As situações de aprendizagem consideram a realidade da profissão de Costureira em seu local de trabalho, identificando os elementos relativos 
        ao trabalho a ser executado, bem como os cuidados básicos de conservação dos equipamentos. 
      </p>

      <p>
        As Mentoras do Lab Desenvolvimento Pessoal e Profissional fornecem feedback sobre currículo e avaliação dedicada em todos os exercícios dentro do programa. 
        O participante recebe apoio individual das mentoras para desenvolver ainda mais seu plano de carreira. Depois de atingir os marcos necessários, 
        as participantes são conectadas à sua próxima etapa profissional, permitindo-lhes trabalhar no Brasil de forma independente e trabalhar conosco em atribuições 
        criativas para nossos parceiros.
      </p>
    </div>

    <hr>

    <div id="curriculo-do-programa">
      <h2>2. Currículo do programa</h2>

      <div class="mb-5">
        <p>
          <b>Lab aprendizagem 1 -</b> Tem como foco introdução ao maquinário industrial, a formação de operadoras de máquinas de costura industrial, direcionado 
          para técnicas de produção em escala.
        </p>

        <p class="m-0"><i>Perfil: Iniciantes</i></p>
        <p class="m-0"><i>Carga horária: 96 horas</i></p>
      </div>

      <div class="mb-5">
        <p>
          <b>Lab aprendizagem 2 -</b> Dando continuidade ao <b>Lab 1</b>, aqui as alunas aprofundam nas principais práticas e técnicas utilizadas na costura industrial 
          da confecção, noções de manutenção, normas, e a relação destes conteúdos com a produtividade na costura e a qualidade do produto final.
        </p>

        <p class="m-0"><i>Perfil: Iniciantes</i></p>
        <p class="m-0"><i>Carga horária: 40 horas</i></p>
      </div>

      <div class="mb-5">
        <p>
          <b>Lab  profissionalização -</b> Módulos transversais, onde cada curso se concentra em uma habilidade específica.
          Ex: Especialização de bolsas e acessórios, Conserto de roupas - (96h cada módulo). Essa é uma etapa dedicada às alunas que passaram por nossos laboratórios de 
          aprendizagem 1 e 2, ou profissionais que já chegam no programa com experiência na área. Nesta fase, focamos num aperfeiçoamento direcionado a confecção de bolsas 
          e acessórios, aprendendo na prática como funciona o processo industrial em todas as suas etapas de produção. O laboratório tem como objetivo afinar profissionais 
          em maquinários específicos para este nicho, e revelar profissionais em outras etapas de 
          produção para além da costura (ex. oficial de mesa, etc).
        </p>

        <p class="m-0"><i>Perfil: Iniciantes que tenham cursado o Lab 1 e 2, ou costureiras com experiência</i></p>
        <p class="m-0"><i>Carga horária: 80 horas</i></p>
      </div>

      <div class="mb-5">
        <p>
          <b>Lab  empreendedorismo -</b> A proposta do Lab empreendedorismo é oferecer  uma visão global para quem deseja empreender o seu próprio negócio de costura ou 
          ainda trabalhar em confecções. A ideia é promover ferramentas contextualizadas com os desafios do mercado atual. Formar uma profissional crítica e competente, 
          atuando com foco em resultados e na prestação de serviços com qualidade e sustentabilidade.
        </p>

        <p class="m-0"><i>Oficinas: Estratégias de precificação dos produtos; Controle de estoque, Gestão de resíduos; Atendimento de excelência, Vendas online, etc</i></p>
        <p class="m-0"><i>Perfil: Iniciantes e profissionais que fazem parte do nosso programa</i></p>
        <p class="m-0"><i>Carga horária: 40 horas (aprox. 2 semanas/intensivo)</i></p>
      </div>
    </div>

    <hr>

    <div id="quem-deve-aplicar">
      <h2>3. Quem deve aplicar</h2>

      <ul>
        <li>Refugiados, asilados ou sobreviventes do tráfico de pessoas com idades entre 18 e 65 anos;</i>
        <li>Chegou ao Brasil nos últimos 3 anos;</li>
        <%# <li>xx sobre documentos protocolo e RNM;</li> %>
        <li>Disposto a sentar na máquina de costura  por 8 horas;</li>
        <li>Capaz de seguir instruções e se comunicar em português intermediário;</li>
        <li>Disponibilidade  das 9h às 17h, de segunda à sexta por 3 semanas;</li>
        <li>Apaixonado por costura e interessada em seguir carreira na indústria criativa.</li>
      </ul>
    </div>

    <hr>

    <div id="duracao-e-investimento">
      <h2>4. Duração e investimentos</h2>

      <p>Nosso programa é gratuito e tem duração de 03 semanas com até 140 horas.</p>
    </div>
  </div>

  <div id="inscreva-se" class="text-center mt-5 mb-5">
    <a href="https://chat.whatsapp.com/K4lPQYke1PQ9zm5Kq7FPKT" target="_blank" class="btn">Inscreva-se</a>
  </div>
</div>
