<div class="banner-about">
  <%= image_tag("sobrenos.png", class: "banner-sobre") %>
</div>

<div class="container">
  <div class="col-sm-12 col-md-12 six-column">
    <h2 class="mt-5">O Programa</h2>
    <p>
      MSG LAB é um programa de aproximadamente 240 horas de treinamento em costura industrial e desenvolvimento profissional.
      A jornada de treinamento tem entre seus objetivos:
      <br>
      <br>
      - Formar operadores de máquinas industriais;
      <br>
      - Desenvolver projetos que envolvem diferentes modelos com diferentes técnicas de acabamento;
      <br>
      - Contribuir para a formação direcionada para o universo têxtil.
    </p>
  </div>

  <div class="col-sm-12 col-md-12 six-column">
    <h2 class="mt-5">Metodologia</h2>
    <p>
      O programa é realizado no espaço de produção do Mulheres do Sul Global, 
      e tem infraestrutura industrial para atender o perfil de produção em escala. 
      As situações de aprendizagem levam em conta a realidade da profissão de costura no seu local de trabalho, 
      identificando os elementos relacionados ao trabalho a ser executado, 
      bem como aos cuidados básicos de conservação dos equipamentos.
      O programa também aborda atividades relacionadas à imagem pessoal, postura profissional e desenvoltura verbal.
      Exercícios de costura são realizados ao longo do curso com o objetivo de melhorar as diversas costuras
      e técnicas de acabamento.
      <br>
      <br>
      Ao longo do curso, visitas técnicas, pesquisas e entrevistas com profissionais também são
      previstas, para que as alunas possam se aproximar da área e conhecer o mercado de trabalho, 
      seus desafios e possibilidades.
    </p>
  </div>

  <div class="text-center mt-5 mb-5 msglab">
    <%= link_to "/turmas" do %>
      <p class="btn">Conheça nossas turmas</p>
    <% end %>
  </div>
</div>
