@media (max-width: 520px) {
  .carousel .carousel-item img {
    min-height: 220px;
    max-height: 220px;
    object-fit: cover;
    object-position: center 31%;
  }
  .owl-carousel .nav-button {
    width: 25px;
    cursor: pointer;
    position: absolute;
  }
  .owl-carousel .owl-prev {
    left: 0px;
  }
  .owl-carousel .owl-next {
    right: 0px;
  }
}

@media (min-width: 520px) {
  .carousel .carousel-item img {
    min-height: 580px;
    max-height: 580px;
    object-fit: cover;
    object-position: center 52%;
  }
  .owl-carousel .nav-button {
    width: 25px;
    cursor: pointer;
    position: absolute;
    top: 180px !important;
  }
  .owl-carousel .owl-prev {
    left: -35px;
  }
  .owl-carousel .owl-next {
    right: -35px;
  }
}
