.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-icon img {
  max-width: 170px;
  max-height: 170px;
}

.navbar .navbar-toggler {
  color: $pink;
  border: 0px;
}

.navbar .nav-item {
  font-size: 13px;
}

#donate {
  color: $pink;
  font-weight: bold;
  background-color: rgba(197, 0, 88, 0.06);
  padding: 16px;
  font-size: 13px;
  border: 0px;
}

.navbar .nav-item .nav-link {
  color: $gray;
  &:hover {
    color: $gray;
    border-bottom: 1px solid $gray;
  }
}

@media (max-width: 991px) {
  .navbar .nav-item .nav-link {
    margin-top: 10px;
    &:hover {
      border-bottom: 0px;
    }
  }
}
